.alert-box {
    background : rgb(118, 81, 81);
    color: rgb(96, 96, 123);
    padding: 20px;
    border-radius: 5px;
    display: none;
    margin-bottom: 10px;
}

.alert-box p{

    display : inline;
}
