.yellow-bg {
    background: yellow;
}

.alert-box {
    background : rgb(118, 81, 81);
    color: rgb(96, 96, 123);
    padding: 20px;
    border-radius: 5px;
    display: none;
    margin-bottom: 10px;
}

.alert-box p{

    display : inline;
}

.main-background{
    background-image:url(maldives-1993704_1280.jpg) ;
    background-size: cover;
    color: rgb(255, 255, 255);
    border-radius: 0px;
}

.black-background{
    background: rgba(0,0,0,0.5);
    position: fixed;
    z-index: 5;
    width:100%;
    height:100%;
    /* 숙제 */
    /* display: none;
    margin-top: -1200px; */
    /* --------요즘 트렌드 css만으로 액션함*/
    display: none;
    /* transition: all 1s; */
     /* margin-top: -1000px; 마진사용하면 느림 */
    /* transform: translateY(-1000px); */
}

.white-background{
    background:white;
    width:80%;
    margin: 100px auto;
    padding: 20px;
    border-radius:10px;
    
}   

.nav-menu {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    alingn-item: center;
}

.nav-sub{
    direction: ;
    display: none;
}

#email-alrert {
    display: none;
}

#psw-alrert{
   display: none;
}

.left-menu {
    width: 150px;
    height: 100%;
    background: black;
    color: white;
    position: fixed;
    margin-left: -150px;
}ㄴ

.balck-add{
    transition: all 1s ;
    transform: translateY(-1000px);
}
